#coding=utf-8

# applied key and secret from fcoin
key = ''
secret = ''

# http proxy for scientific internet access
proxy = None

# whether use ifukang endpoint
use_ifukang = True

# qe engin config below

#whether to mock execution
mock_execution = True

#output logging level 20:info 30:warn
logginglevel = 20